app {
    text-align: center;
  }
  
  .imageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .imageItem {
    margin: 10px;
  }
  
  .loader {
    margin: auto;
    width: 100px;
  }